@font-face {
    font-family: "MiSans-Regular.subset";
    src: url('./MiSans-Regular.subset.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MiSans-Regular.subset.woff2";
    src: url('./MiSans-Regular.subset.woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "MiSans-Regular.woff2";
    src: url('./MiSans-Regular.woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "UnidreamLED";
    src: url('./UnidreamLED.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pacifico-Regular";
    src: url('./Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  